@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/pexels-pixabay-53404.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2;
 
}

.container {
   
  background-color:#4c81af;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin: 50px 20px;
  font-size: 1.5em;
  padding: 50px;
}

input {
  border: 2px solid black;
  border-radius: 2px;
  padding: 8px;
  outline: none;
}
label {
  font-size: 1.5em;
  font-family: cursive;
  padding: 3px;
  font-weight: bold;
}

button {
  border-radius: 3px;
  margin-top: 10px;
  font-family: cursive;
  background-color: rgb(16, 16, 221);
  font-weight: bold;
  color: white;
  padding: 10px;
  border: none;
  font-size: 0.7em;
}
button:hover {
  background-color: rgb(65, 211, 211);
}
.resultado_estilo {
  font-family: cursive;
  text-align: center;
}

p {
   
  font-weight: bold;
}

@media screen and (min-width: 900px) {
    .container{
       max-width: 50%;
       margin: auto;
       margin-top: 50px;
      
       
        
    }
}